# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
dist

# testing
coverage

# misc
.DS_Store
*.pem

# Logs
logs
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# local env files
.env
.env.*
!.env.example

# database files
*.sqlite
*.sqlite3

# ctags
tags

# clinicjs
.clinic/

# turbo
.turbo

# vercel
.vercel
