# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# mock files
src/**/mocks
src/**/mock*.ts
src/**/mock*.vue

# media files
src/public/media/*
